*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: rgb(25,25,25);
}

.main{
    width: 400px;
    height: 800px;
    margin: 0 auto;
    line-height: 30px;
    background-image: url(https://ik.imagekit.io/4z8covdo9/Full%20stack/todolistbg.png);
}

.heading
{
    text-align: center;
    background: none;
}

.startButton{
    background-color: orange;
    width: 70px;
    height: 40px;
    margin-inline: 160px;
    text-align: center;
}
.skip{
    background: none;
    margin-inline: 120px;
    text-align: center;
}
.subheading{
    background: none;
}